
@font-face {
	font-family: "Lisping Wisps";
	src: url(../fonts/LispingWispsVF.ttf);
}

@font-face {
font-family: "Outward Gum";
src: url(../fonts/OutwardGumVF.ttf);
}

@font-face {
	font-family: "Authentic";
	src: url(../fonts/inAUTHENTICSansVF.ttf);
}

@font-face {
	font-family: "Necto";
	src: url(../fonts/NectoMonoSLIDEVF.ttf);
}

/* Default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body {
	font-family: "Lisping Wisps";
	font-variation-settings: "THIK" 10;
	letter-spacing: 10px;
	font-size: 20px;
	background-color: black;
}

.heading {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	font-family: "Lisping Wisps";
	transition: 2s;
	letter-spacing: 10px;
	font-size: 40px;
	background-color:Black;
	color:azure
}

.heading:hover {
	font-variation-settings: "THIK" 100;
	color:greenyellow
}

.still {
	display: flex;
	width: 100vw;
	height: 20px;
	overflow: hidden;
	background-color: greenyellow;
	font-family: "Authentic";
	font-variation-settings: "VARI" 0 ;
	transition: .4s;
	font-size: 15px;
}

.still:hover {
	font-variation-settings: "VARI" 80 ;
}



.sliding {

	font-size: 30px;
	color:azure;
	font-family: "Lisping Wisps";
		transition: 1s;
		animation-name: idle-animation;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sliding:hover{
	letter-spacing: 18px;
	font-weight: 50;
	font-variation-settings: "THIK" 100 ;
	animation-play-state:paused;
}

@keyframes idle-animation {
	0%{
		font-size: 30px;
		font-variation-settings: "DISP" 0 ;
		
	}

	50%{
		font-size: 30px;
	font-variation-settings: "DISP" 100 ;
	}

	100%{
		font-size: 30px;
		font-variation-settings: "DISP" 0 ;
	}
}

.testparagraph1 {
	overflow: hidden;
display: flex;
	width: 100vw;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color:black;
	color: greenyellow;
	transform: skewY(-35deg);
	position: absolute;
	top:200px;
	font-family: "Lisping Wisps";
	font-size: 45px;
	transition: .5s;
	font-variation-settings: "DISP" 0 ;
	z-index: 1;

}

.testparagraph1:hover{
	transform: translateY(10px);
	animation-name: wisp-scatter;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	z-index: 4;
	transform: skewY(-25deg);
	color: black;
	background-color: greenyellow;
}

.testparagraph1:active{
	transform: skewY(0deg);
}

@keyframes wisp-scatter {
	0% {
		font-variation-settings: "THIK" 0 "DISP" 0;
	}

	25% {
		font-variation-settings: "THIK" 100 "DISP" 0;
	}

	50% {
		font-variation-settings: "THIK" 0 "DISP" 0;
	}

	75% {
		font-variation-settings: "THIK" 100 "DISP" 0;
	}

	100% {
		font-variation-settings: "THIK" 0 "DISP" 0;
	}
}

.testparagraph2 {
	overflow: hidden;
display: flex;
	width: 100vw;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color:black;
	color: greenyellow;
	transform: skewY(-35deg);
	position: absolute;
	top:500px;
	font-family: "Outward Gum";
	letter-spacing: 0px;
	font-size: 83px;
	font-variation-settings: "HGHT" 0 ;
	transition: .5s;
	z-index: 2;
}

.testparagraph2:hover{

	transform: translateY(-20px);
	animation-name: gum-stretch;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		z-index: 4;
		transform: skewY(-25deg);
		color: black;
	background-color: greenyellow;

}

.testparagraph2:active{
	transform: skewY(0deg);
}

@keyframes gum-stretch {
	0% {
		font-variation-settings: "HGHT" -100;
	}

	50% {
		font-variation-settings: "HGHT" 100;
	}

	100% {
		font-variation-settings: "HGHT" -100;
	}
}

.testparagraph3 {
	overflow: hidden;
display: flex;
	width: 100vw;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color:black;
	color: greenyellow;
	transform: skewY(-35deg);
	position: absolute;
	top:800px;
	font-family: "Necto";
	letter-spacing: 0px;
	font-size: 48px;
	transition: .5s;
	z-index: 3;
}

.testparagraph3:hover{
	transition: .5s;
	transform: translateY(-20px);
	letter-spacing: 10px;
	animation-name: necto-stretch;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		z-index: 4;
		transform: skewY(-25deg);
		color: black;
	background-color: greenyellow;
}

.testparagraph3:active{
	transform: skewY(0deg);
}

@keyframes necto-stretch {
	0% {
		font-variation-settings: "VARI" 0;
	}

	50% {
		font-variation-settings: "VARI" 100;
	}

	100% {
		font-variation-settings: "VARI" 0;
	}
}

.menu {    
	font-family: "Authentic";
	display:flex;
	margin: 10px;
	gap: 0px;
	font-size: 20pt;
	width: 80vw;
	text-align: center;
	transition: .5s;
	flex-wrap: wrap;
}


.menu p{
background-color: black;
color: greenyellow;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
transition: .5s;
border-radius: 0px;
font-size: 15pt;

}

.menu p:hover{
	flex-grow: .15;
	font-variation-settings: "VARI" 100 ;
	border-radius: 20px;
	background-color: greenyellow;
	color:black;
}

.bottomtext {
	display: flex;
	margin: 10px;
	padding: 15px;
	width: 20vw;
	font-family: "Authentic";
	font-size: 10px;
	letter-spacing: 1px;
	color:greenyellow;
	background-color:black;
	position: absolute;
	top: 1800px;
	left: 1100px;
	text-align: right;
	z-index: 4;
}


// transform: skewY(-15deg); //

overflow: hidden